<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bwf.androiddemos"
    android:installLocation="auto">
    <!--
    android:installLocation可以设置为"auto"、"internalOnly"、"preferExternal"三个值中的任何一个.
　　auto:程序可能被安装在外部存储介质上(例如:SD Card),但是默认会被安装到手机内存中.当手机内存为空时,程序将被安装到外部存储介质上.当程序安装到手机上后,用户　　　　　　可以决定把程序放在外部储介质还是内存中.
　　internalOnly:默认值.当设置为该值时,程序只能被安装在内存中,如果内存为空,则程序将不能成功安装.
　　preferExternal:将程序安装在外部存储介质上,但是系统不保证程序一定会被安装到外部存储介质上.当外部存储介质不可以或空时,程序将被安装到内存中.程序使用了for　　　　　　ward-locking机制时也将被安装到内存中,因为外部存储不支持此机制.程序安装后,用户可以自由切换程序应该在外部还是内部存储介质上.
注意:当程序使用了Google Play的Copy Protection特性时,只能安装到内存中.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- 加入下面代码可以隐藏桌面上的应用图标 -->
                <!-- <data -->
                <!-- android:host=".MainActivity" -->
                <!-- android:scheme="bwf.androiddemos" /> -->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoveViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClipeDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TitleFadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoveView2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WXShakeActivity"
            android:screenOrientation="portrait" />

        <!-- 开机启动 -->
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DatePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RoungProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyExpandableListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParabolaAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PercentLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventBusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JazzyViewpagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Roate3DActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RxJavaDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RetrofitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RxJavaAndRetrofitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AchartEngineDemoActivity"
            android:screenOrientation="portrait" />

        <!-- AchartEngine相关-->
        <activity
            android:name=".ChartDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".achart.PieChartBuilder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".achart.XYChartBuilder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".achart.XYChartBuilderBackup"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>